.logo {
    max-width:40%;
    margin: auto;
    display: block;
    margin: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.milktea-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}

.milktea-flavors {
    width: 150px;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    z-index: 1;
    display: block;
    transition: transform 0.3s ease, opacity 1s ease-in-out;
    border-radius: 10px;
    position: relative;
    justify-content: space-between;
    align-items: center;
  
}

.milktea-flavors:hover {
    transform: scale(1.5);
    z-index: 2;
}


.ube-label {
    position: relative;
    text-align: center;
    width: 200px;
    height: 167.656px;
    margin: auto;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:purple;
    
  
    
}